p{
  font-family: Roboto, Arial;
}

.search-box{
  background-color: white;
  display: block;
}
.thumbnail{
  width: 300px;
  object-fit: contain;
}
.thumbnail-container{
  margin-bottom: 12px;
}
.video-title{
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.video-preview{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.video-info{
  display: inline-block;
  width: 240px;
}

.channel-picture{
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.profile-picture{
  width: 90%;
  border-radius: 50px;
}
